<!doctype html>
<html lang="en">

<!-- Mirrored from bootstrap.gallery/royal-hospital-admin/design-option-12/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Dec 2020 07:56:25 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Meta -->
	<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
	<meta name="author" content="ParkerThemes">
	<link rel="shortcut icon" href="img/fav.png" />

	@* <!-- Title -->
	<title>Royal Hospitals Admin Template - Login</title> *@

	<!-- *************
		************ Common Css Files *************
		************ -->
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<!-- Icomoon Font Icons css -->
	<link rel="stylesheet" href="~/fonts/style.css">
	<link href="~/css/main.css" rel="stylesheet" />
	<!-- Main css -->
	<link rel="stylesheet" href="~/css/main.css">


	<!-- *************
		************ Vendor Css Files *************
	************ -->
	<!-- Bootstrap Select CSS -->
	<link rel="stylesheet" href="~/vendor/bs-select/bs-select.css" />

</head>
<body>


	<!-- Loading starts -->
	<div id="loading-wrapper">
		<div class='spinner-wrapper'>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
			<div class='spinner'>
				<div class='inner'></div>
			</div>
		</div>
	</div>
	<!-- Loading ends -->
	@RenderBody()



	<!-- *************
		************ Required JavaScript Files *************
	************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/moment.js"></script>


	<!-- *************
		************ Vendor Js Files *************
	************* -->
	<!-- Apex Charts -->
	@* <script src="~/vendor/apex/apexcharts.min.js"></script>
	<script src="~/vendor/apex/examples/mixed/hospital-line-column-graph.js"></script>
	<script src="~/vendor/apex/examples/mixed/hospital-line-area-graph.js"></script>
	<script src="~/vendor/apex/examples/bar/hospital-patients-by-age.js"></script> *@

	<!-- Rating JS -->
	<script src="~/vendor/rating/raty.js"></script>
	<script src="~/vendor/rating/raty-custom.js"></script>

	<!-- Main Js Required -->
	<script src="~/js/main.js"></script>

	<!-- Bootstrap Select JS -->
	<script src="~/vendor/bs-select/bs-select.min.js"></script>
</body>
</html>
