
@{
    ViewData["Title"] = "ProposedApplications";
    Layout = "~/Views/Shared/_JELayout.cshtml";
}

<script src="~/js/jquery.min.js"></script>

<style>
	.inline-input {
		display: inline;
		width: auto;
		border: none;
		border-bottom: 1.5px solid #ccc;
		outline: none;
	}
	
	bold {
		font-weight: bold;
	}
</style>

<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/JE/Dashboard">होम</a></li>
		<li class="breadcrumb-item active">आवेदनों का विवरण देखें</li>
	</ol>

</div>



<div class="content-wrapper">

	<!-- Row start -->
	<div class="row gutters">
		<div class="col-xl-12">
			

			<div class="card plain">
				<div class="card-body">
					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
							
							<div class="hotelMapScroll">
								<div class="hospital-maps-container">
									
									
									<div class="table-responsive">
										<table style="width: 100%;" id="scr-vtr-dynamic" class="example">

											<thead>
												<tr>
													<th>Proposed Applications</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="javascript:void(0)" class="hospital-listing" data-toggle="modal" data-target=".bd-example-modal-xl">

															<div class="hospital-location">
																<div class="hospital-title">Application - 1</div>
																<div class="hospital-address">
																	Ward- ward1, Mohalla- mohalla1
																</div>
																<div class="">
																	<span class="badge badge-pill badge-secondary">Pending</span>
																	<span class="badge badge-pill badge-info">Extra Connection</span>
																	<span class="badge badge-pill badge-info">Pipe Shifting</span>
																</div>

															</div>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="javascript:void(0)" class="hospital-listing" data-toggle="modal" data-target=".bd-example-modal-xl">
															<div class="hospital-location">
																<div class="hospital-title">Application - 2</div>
																<div class="hospital-address">
																	Ward- ward2, Mohalla- mohalla2
																</div>
																<div class="">
																	<span class="badge badge-pill badge-secondary">Pending</span>
																	<span class="badge badge-pill badge-info">Fresh Connection</span>
																	<span class="badge badge-pill badge-info">Water Connection</span>
																</div>

															</div>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="javascript:void(0)" class="hospital-listing" data-toggle="modal" data-target=".bd-example-modal-xl">
															<div class="hospital-location">
																<div class="hospital-title">Application - 3</div>
																<div class="hospital-address">
																	Ward- ward3, Mohalla- mohalla3
																</div>
																<div class="">
																	<span class="badge badge-pill badge-secondary">Pending</span>
																	<span class="badge badge-pill badge-info">Extra Connection</span>
																	<span class="badge badge-pill badge-info">Sewage Connection</span>
																</div>

															</div>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myExtraLargeModalLabel">पुष्टि करें</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					वर्णित भवन मुस्यष्ट पर जलकल विभाग के निम्न अवशेप दे कोई अवशेष देय नहीं है।
				</p>
				<br/>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">जलकर </label>
							<span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span>
						</div>
					</div>
				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">सावरकर </label>
							<span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span>
						</div>
					</div>
				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">जलमुल्य </label>
							<span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span>
						</div>
					</div>
				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">सीवर चार्जेज </label>
							<span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span>
						</div>
					</div>
				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">अन्य </label>
							<span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span>
						</div>
					</div>
				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<label for="inputName">उक्त भवन में यह <span><input type="text" class="form-control inline-input" id="inputName" placeholder=""></span> वाँ जल संयोजन होगा।</label>
							
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lighten" data-dismiss="modal">पीछे जाए</button>
				<button type="button" class="btn btn-primary">सेव करें</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
		$('#JEdashboard').removeClass("active-page");
		$('#JEproposedconnections').addClass("active-page");
	});


</script>